<h1 class="text-center" *ngIf="listofbooks">Books to display</h1>
<hr>

<div class="row">
  <div class="col-md-4 " *ngFor="let book of listofbooks">
    <div class="card mb-4 shadow-sm">
      <div class="card-header text-center">
        <h4 class="my-0 font-weight-normal">Book ID: {{book.bookid}}</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">Title:{{book.title}}</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Price:{{book.price}}</li>
          <br>
          <li>Volume:{{book.volume}}</li>
          <br>
          <li>Published Date:{{book.date.month}} {{book.date.dayOfMonth}},{{book.date.year}}</li>
        <br>
        </ul>
        <div style="text-align:center">
         <a routerLink="/viewbook/{{book.bookid}}">Open</a>
          </div>
      </div>
    </div>
  </div>
</div>